h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bolder;
}

h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
.container{
    margin: 10px auto;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #DCEEF2;
    color: #DCEEF2;
}

.card-body{
    font-weight: bold;
}

a {
    color: #0000ff;
}

a:hover {
    color: #0047a3;
}